
a{
  text-decoration: none;
  color:black;
  font-family: 'Urbanist', sans-serif;
}

a:hover{
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: black;

}

/*top nav bar*/
.navBar{
  padding-top: 20px;
  position: fixed;
  z-index: 1000;
  opacity: 0.9;
  background-color:white;
  top:0px;
  width:100%;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;

  display:flex;
}

.navitem1{
  margin-left: 17em;
  margin-right: auto;
}

.logo{
  width:4em;
}
.navItem{
  font-size: 1.5em;
  font-weight: 300;
  font-family: 'Urbanist', sans-serif;
}

.link{
  display:flex;
  text-align: left;
  padding-top: 70px;
  margin-right:20em;
  margin-left: auto;
}

.linkitem{
  padding-left:10px;
}

.img1{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

/*content*/

.intro{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
.content{
  margin: 10% 20% 0% 20%;
  text-align: center;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 0.5em;
}
.hobbytitle{
  font-size: 1.5em;
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
}

.hobbies{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
.wrapper {
  height: 10em;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 13.5ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2.5em;
  font-family: 'Urbanist', sans-serif;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.content h2{
  font-size: 2.5em;
}
.content h1{
  font-size: 4.5em;
}

.content img{
  width:100%;
}

.intro p{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
  font-size:1em;
}
.intro a{
  font-style:italic;
  font-family: 'Roboto', sans-serif;
}

.hobbyList a{
  font-size: 1em;
}

.footer{
  margin: 20% 10% 1% 10%;
  align-items: center;
  display:flex;
  justify-content: center;

}

.footer img{
  width:50%;
  display: inline-block;
}

.text{
  display:inline-block;
  text-align: center;
  width:40%;
  font-size: 1.3rem;
}

.text a{
  font-style: italic;
  color:#767676;
}
@media only screen and (max-width: 1000px){
  .navItem{
    font-size: 1em;
  }

  .content h2{
    font-size: 1em;
  }
  .content h1{
    font-size: 2em;
  }
  .intro p{
    font-size:0.5em;
  }
  .hobbyList a{
    font-size: 0.5em;
  }
  .hobbies h1 {
    font-size: 1em;
  }
  .text{
    font-size: 1rem;
  }
  .typing-demo{
    margin-top: 5em;
    font-size: 1em;
  }

}
.hide{
  display:none;
}
/*media display*/
#videoPhoto, #bakery, #run{
  margin:2% 20% 10% 20%;
}


.row{
  display:flex;
  flex-wrap:wrap;
}

.col{
  flex:25%;
  max-width:250%;
  padding:0 4px;
}
.col img{
  margin-top:8px;
  vertical-align:middle;
  width:100%;
}

.animate {

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*fade in*/
.fadeIn {
    -webkit-animation-name: fadeIn;
	  animation-name: fadeIn;
    transition: transform 2s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


.text p{
  font-family: 'Urbanist', sans-serif;
  font-weight: 200;
}
