body{
  margin:0px;
  text-align: center;
}
h1{
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  font-size: 3.5em;
}
h2{
  font-size: 14px;
  color: rgba(48, 55, 67, 0.65);

}
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem;

}
.title-part{
  position: relative;
  margin-top: 100px;
  background: rgba(200, 213, 227, 0.29);
}
.title{
  padding-top: 200px;
  padding-bottom: 100px;
  font-family: 'Poppins', sans-serif;
}

.table{
  text-align: center;
  background: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  height:120px;
  width:900px;
  margin-left: 18em;

}
.item{
  margin-left: 5em;
  margin-right: 5em;
  font-family: 'Poppins', sans-serif;
}
