body{
  margin: 0;
  text-align: center;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.top-container{

   position: relative;
   padding-top: 200px;
   padding-bottom: 300px;


}

.middle-container{
    background-color:#F6F9FC;
    padding-top:100px;
    padding-bottom: 200px;


}
.bottom-container {
  background-color: #66BFBF;
  padding-top:20px;
  padding-bottom:20px;
}

.nav-bar{
    position: absolute;
    width: 84px;
    height: 21px;
    left: 50em;
    right:200px;
    top: 88px;
    display: flex;
    z-index: 1000;
    opacity: 0.9;
    backdrop-filter: blur(3px);

}

.nav{
  display:block;
  text-decoration: none;
  font-family: 'Martel', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 21px;
  padding:40px;
}
.text{
  color:black;
}
.text:hover{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name-container{
  position: relative;
  width: 722px;
  height: 163px;
  left: 100px;
  margin-left:100px;
  font-family: 'Noto Serif JP', serif;

  font-style:normal;
  font-weight:normal;
  font-size: 4em;
  line-height: 55px;
  color: #000000;
  text-align: left;
}

#highligntN{
  background-color:#FCFF5B;
}


/*here is projects section*/
.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.image{
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.post-preview{
	background-color: #fff;
	padding:15px;
}

.post-title{
	color:black;
	margin: 0;
}

.post-intro{
	color:#4b5156;
	font-size: 14px;
}

.fa {
  padding: 20px;
  font-size: 100px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: #1d1d1d;
}
.fa:hover {
  opacity: 0.7;
}



.scrollToTopBtn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .5s ease
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}
